	
	.chequito{
		display:inline-block;
		border:silver 1px solid;
		width:3px;
		height:3px;
		background-color:#fff;
		margin-right:1px;
		cursor:pointer;
		position:relative;
	}	
	.chequito.vacio{
		background-color:transparent;	
	}
	.chequito.rechazada{
		background-color:#FF0000;	
	}
	.chequito.aprobada{
		border-color:#004400;			
		background-color:#22ff22;	
	}
	
	.chequito.evaluando{
		border-color:#0000FF;			
		background-color:#2244FF;	
	}
			
	.chequito:hover{
		border:#000 1px solid;
	}	 
			
	.chequito.hecho{
		background-color:#000;	
		
	}	
	
	.requerido{
		border-color:#000;
	}		
	.norequerido{
		border-color:silver;
	}		
	
	.versiones{
		display:inline-block;
		width:45px;
		font-size:10px;
	}	
					
	.version, .preversion{
		display:inline-block;
		width:16px;
		height:14px;
		font-size:10px;
		background-color:lightblue;
		border:2px solid;
		border-color:#08AFD9;
		overflow:hidden;
		cursor:pointer;
		padding:2px 1px;
		position:relative;
		margin-right:2px;
	}
	
	.version.resaltado{
		border:2px dashed;			
	}
	
	.version:hover, .preversion:hover{
		border:2px solid #000;
	}		
	
	.version >span{
		display:none;
	}			
	
	
	.version > img {
	    left: 9px;
	    position: absolute;
	    top: 1px;
    }
	
	.aprobada{
		background-color:#55BF55;
		border-color: #CDF7CD #008000 #008000 #CDF7CD;
	}
	.rechazada{
		background-color:#FF565B;
		border-color:  #FFC0CB #F00 #F00 #FFC0CB;
	}
	.enevaluacion{
		background-color:blue;
		background-color:#3797FF;
		border-color:   #5CF2FF   #00F #00F #5CF2FF;
	}
	.apresentar{
		background-color:grey;
		border-color:  silver #000 #000 silver;			
	}		
	.anulada{
		background-color:#000;
		color:#fff;
		border-color:  silver #000 #000 silver;			
	}
	.fila.anulada{
		background-color:#bbb;
		color:#fff;				
	}		
	.vencimiento{
		display:inline-block;
		background-color:orange;
		line-height:8px;
		font-size:11px;			
	}
	.version > .visados > .chequito > .vencimiento{
	    display: block;
	    left: -1px;
	    overflow: hidden;
	    position: absolute;
	    top: 2px;
	    width: 5px;
	    background-color:orange;
	}
	#recuadro > .visados > .chequito > .vencimiento{
		display: block;
	    left: 5px;
	    overflow: hidden;
	    position: absolute;
	    top: -1px;
	    width: auto;
	    background-color:orange;
	}
