.formCent{
    font-family: 'Ropa Sans-local', 'Ropa Sans', sans-serif;
	display:none;
	position:fixed;
    top: calc((100vh - 75vh) / 2);
    height: 75vh;
    left: calc((100vw - 80vw) / 2);
    width:80vw;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index:5000;
    border: 4px solid #000;
    box-shadow: 1vw 1vh 5vw rgba(0,0,0,1);
    font-size:12px;
    overflow: auto;
    background-color: lightblue;
}

.formCent h4{
	margin-bottom:0px;
}

.formCent label{
	margin-left:3px;
	margin-right:3px;
	margin-top:10px;
	text-align:left;
	display: inline-block;
}


.formCent label{
	width:140px;
	text-align:right;
}
.formCent #cargavalores label{
	width:auto;
	text-align:right;
}

.formCent label.chica{
	width:90px;
}

.formCent label.grande{
	width:190px;
	text-align:left;
}

.formCent input{
    color: #08afd9;
    border-top: 1px gray solid;
    border-left: 1px gray solid;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    font-family: 'Ropa Sans-local', 'Ropa Sans', sans-serif;
}

.formCent input.mes,.formCent input.dia{
	width:18px;
	position:relative;
	top:0px;z
	background-color:#fff;
	text-align:center;
}

.formCent input.ano{
	width:35px;
	position:relative;
	height:auto;
	top:0px;
	background-color:#fff;			
}

.formCent input[disabled]{
	color:#444;
	background-color:silver;
}

.formCent #representacion{
	display:none;
}

.formCent textarea{
	width:100%;
    white-space: pre;
}

.formCent #comunicaciones > div{
	display:inline-block;
	width:170px;
}


.formCent span{
	display:inline-block;
	vertical-align: text-bottom;
}
.formCent > div {
    display: inline-block;
}
.formCent p >a{
	display:inline-block;
	width:100px;
	margin:3px;
	background-color:#08afd9;
	color:#000;
	font-size:14px;
	border:1px solid #000;
	text-align:center;
	height:18px;
	vertical-align:bottom;
}
.formCent p >a.eliminar{
    background-color: #fa5858;
    color: #000;
    font-weight: bold;
}
.formCent p >a.cancelar{
    background-color: #bbb;
    color: #000;
}
  
.formCent #inputfecha{
	display:inline-block;
}


form#general >p >a:hover{
	background-color:#fff;
}

#op_comunicaciones {
	display: inline-block;
    width: 840px;
    height:400px;
    overflow:hidden;
}


#op_comunicaciones > div > div{
	background-color:#fff;
	padding-left:1px;
}

#op_comunicaciones a{
	display: inline-block;
    height: 13px;
    overflow: visible;
    max-width: 120px;
    min-width: 91px;
}

#op_comunicacionesCambia > div > div{
	background-color:#fff;
	padding-left:1px;
}

#op_comunicacionesCambia a{
	display: inline-block;
    height: 13px;
    overflow: visible;
    max-width: 120px;
    min-width: 91px;
}



.formCent #sentido div{
	display:inline-block;
	border:1px solid #000;
	width:200px;
	height:150px;
	overflow-y:scroll;
	position:relative;
}
.formCent #contrasentido div{
	display:inline-block;
	border:1px solid #000;
	width:200px;
	height:150px;
	overflow-y:scroll;
	position:relative;
}

.formCent #op_comunicacionesCambia > label{
	margin:0;
	width:400px;
	text-align:left;
}
.formCent #op_comunicacionesCambia > div > div > label{
	position:absolute;
	top:0px;
	left:0px;
	margin:0;
	width:100%;
	text-align:right;
	opacity:0.8;
}

.formCent #op_comunicaciones > label{
	margin:0;
	width:400px;
	text-align:left;
}
.formCent #op_comunicaciones > div > div > label{
	position:absolute;
	top:0px;
	left:0px;
	margin:0;
	width:100%;
	text-align:right;
	opacity:0.8;
}
.formCent #comunicacionesCambia{
	display:inline-block;	
	width:600px;	
	vertical-align: top;
    position: absolute;
    left: 300px;
    top: 50px;
}

.formCent #comunicacionesCmabia a{
    margin-left:5px;
}

.formCent #comunicaciones{
	display:inline-block;	
	width:300px;	
	vertical-align: top;
}

.formCent #comunicaciones a{
	
    margin-left:5px;
}
.formCent .muestra{
	display:inline-block;
	width:100px;
	height:14px;
	border:1px #000 solid;
	background-color:lightblue;
	/*background-color:#fff;*/
	padding-left:1px;
	
}

.formCent  .contenido {
    background-color: lightblue;
    border: 1px solid #08afd9;
    color: #000;
    display: inline-block;
    
    margin: 0;
    margin-right:1px;
    overflow: hidden;
    text-align: center;
    
    font-size:10px;
}

.formCent  .contenido.aclara {
    height:auto;
    width:auto;
}

.formCent #archivos{
	display:inline-block;
	width:calc(80vw - 220px);	
}
.formCent #archivos > a{
	border:1px solid #000;
	margin:5px;
	display:inline-block;	
}

.formCent .info{
	border:1px solid #000;
	margin:5px;
	display:block;
	position:absolute;
	top:10px;
	left:10px;
	width:100px;
	height:auto;
	background-color:#fff;
	z-index:21;
}
.formCent .info h3{
	margin-top:2px;
}

.formCent a#info{
	position:absolute;
	top:20px;
	left:20px;
}
.formCent a#info[visible='no']{
	display:none;
}

.formCent .info {
	position:absolute;
	top:20px;
	left:20px;
}

.formCent #cerrar{
	position:absolute;
	right:2px;
	top:2px;
}

.formCent #elim{
	position:absolute;
	right:2px;
	top:20px;
}


.formCent label.upload{
	height: 18px;
	position:absolute;
	right:0px;
	width: 170px;
	display:inline-block;
}

span.upload{
	color:gray;
	padding:2px;
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:20px;
	text-align: center;
	vertical-align:middle;
	border:1px solid #000;
	margin:0px;
}

.uploadinput{		
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	opacity:0;
	width:172px;
	height:20px;
	vertical-align:middle;
	border:1px solid #000;
	margin:1px;
}

.alerta{
	border:3px solid red;
	background-color:#fbb;
	color:#000;
	position:fixed;
	min-height:30vh;
	top:35vh;
	width:30vw;
	left:35vw;
	z-index:1000000;
	text-align:center;
    box-shadow: 1vw 1vh 2vw rgba(200,0,0,0.8);
}
.alerta a{
	font-size:16px;
	color:#000;
	background-color:#fff;
	border:1px solid #000;
	margin: 5px;
	display:inline-block;
}

#op_comunicacionesCambia{
	position: absolute;
    left: 300px;
    top: 100px;
}

#dummy{
	display:inline-block;
}
#listadeversiones >div > span{
	display:inline-block;
	height:15px;
	overflow:hidden;
	text-align:center;	
}
#listadeversiones #documento{
	width:80px;
	text-align:left;	
}
#listadeversiones #numero{
	width:20px;	
}
#listadeversiones #fecha{
	width:50px;	
}
#listadeversiones #pre{
	width:10px;	
}
#listadeversiones #apr{
	width:10px;	
}
#listadeversiones #rev{
	width:10px;	
}
#listadeversiones #anu{
	width:10px;	
}
#listadeversiones #overv{
	width:80px;	
	text-align:center;
}
    
    #cargavalores div{
        border:1px solid #000;
        display:inline-block;
        margin:1px;
    }
    
    #cargavalores div#estado{
        display:inline-block;
        width:10px;
        height:10px;
        border:none;
    }		
    #cargavalores div#estado[estado='cargando']{
        background-image:url('../img/cargando.gif');
        background-size: 10px 10px;
    }		
    #cargavalores div#estado[estado='ok']{
        background-image:url('../img/obsok.png');
        background-size: 10px 10px;
    }				
    #cargavalores div.cont{
        border:0px;
    }
    
    #cargavalores div.cmes > div.cont{
        width:440px;
    }
    #cargavalores div.cmes > label{
        width:65px;
        font-size:14px;
    }

    #cargavalores div.cano > label{
        width:65px;
        font-size:16px;
        font-weight:bold;
    }
            
    #cargavalores div.ccuart{
        border:0px;
    }
    
    #cargavalores label {
        display: inline-block;
        margin:0px;
        text-align: left;
        width: auto;
    }
    
    #cargavalores .cdia{
        width:50px;
    }

    #cargavalores .cdia[sem='d']{
        background-color:silver;
    }
    #cargavalores .cdia[sem='s']{
        background-color:silver;
    }
            
    #cargavalores .ccuart{
        display:block;
    }
    #cargavalores .cano>div.cont{
    max-width: calc(80vw - 100px);
    }
    #cargavalores input{
        width: 45px;
    }
    #cargavalores .cont[tipo='tex'] > input {
        width: 400px;
    }
    #cargavalores .cont[tipo='tex'] .cdia{
        width: 405px;
    }
            
    
    #cargavalores input[readonly='readonly']{
        background-color:#ggggff;
        color:#555;
    }		
    #cargavalores label span{
        display: block;
        font-size: 11px;
        position:absolute;
        bottom:2px;
        right:2px;
    }
    .formCent span{
       font-size: inherit;
        vertical-align: middle;
    }
    .cdia{
        position:relative;
    }
