
p{
	margin:0 10px;
}

h1{
	margin:0 10px;
}

h2 {
    font-size: 18px;
    margin: 0 0 0 10px;
}		

input.fecha{
	float:left;
	width:40px;		
}		

input.chico{
	width:560px;
}		

input.mini{
	float:left;
	width:25px;
}		

select.chico{
	width:100px;
}	

select{
	width:40px;
}	

option{
	font-family: 'Ropa Sans-local','Ropa Sans',sans-serif;
	font-size: 10px;
	width:60px;
	
}	
	
th{
font-size:12px;
text-align:right;
background-color:#DBF7FE;
width:100px;
}

td{
text-align:center;
border:solid 1px gray;
}

.salva{
width:90px;
margin-bottom:5px;
float:left;
}

.reporte{
width:200px;
}

.marco{
	border-bottom: 1px solid #EEEEEE ;
	float: none;
	width: 100%;		
}

.referencia{
	font-size: 10px;
}

.alerta{
	background-color:#f00;
}

.similth{
	background-color:transparent;
	width:800px;
	text-align:left;
}	
	
.fila{
	display:block;
	width:784px;
	border-top:#CDF0F9 3px solid;
	height:20px;
	vertical-align:middle;
}
.fila > a, .fila > div{		
	 vertical-align: inherit;
}

.titulo{
	display:inline-block;
	background-color:#DBF7FE;
	width:80px;
	height:20px;
	font-size:11px;	
	margin-right: -7px;		
	text-align:center;
	overflow:hidden;
	line-height:10px;
}	


.seleccion{
	width:20px;
	font-size:14px;	
}		

.accion{
	width:45px;
	line-height:12px:
}		

.aclaracionsubmit{
	width:120px;
	height:24px;
	font-size:12px;
	font-weight:normal;
	display:inline-block;
}

.contenido.alta{
	font-size:10px;
}
.contenido.baja{
	font-size:10px;
}		

.cerrada{
	color:silver;
}

a:hover{
	color:#000;
}


.id_p_B_usuarios_usuarios_id_nombre_autor{
	width:45px;
}	
.id_p_B_usuarios_usuarios_id_nombre_responsable{
	width:45px;
}		
	
.tareas{
	width:219px;
}		
	
div.tareas > div > a{
	display:inline-block;
	border-bottom:#CDF0F9 1px solid;
}			

div.tareas > div > a.terminada{
	color:silver;
}	
		
div.descrip{
	width:40px;
	line-height:14px;
}


.accionseleccion{
	display:auto;
}

.precontenido.respuesta{
	height:10px;
	text-align:left;
	margin-top:-2px;
	line-height:10px;
	width:15px;
	border:none;
}

.agrupado{
	border:none;
}	
				
				
button{
	min-width:160px;
	padding:0px;
}
#botonrespuesta{
	position:absolute;
	left:22px;
	top:17px;
	
}
#botonrespuesta:hover{
	border:1px solid #fff;
	left:21px;
	top:16px;	
}	
		
  

#tipo{
	display:inline-block;
	width:15px;
	text-align:center;
    font-size: 11px;
    line-height: 10px;
    overflow:hidden;
    
}	
	
	
.nombre{
	display:inline-block;
	width:420px;
	font-size:14px;
}

.grupos{
	display:inline-block;
	width:20px;
	text-align:center;
    font-size: 10px;
    line-height: 10px;
    overflow:hidden;
	white-space: nowrap;
}	
	
	
.actor{
	display:inline-block;
	width:110px;
    font-size: 11px;
    line-height: 10px;
}

.opcion{
	display:inline-block;
	width:60px;
    font-size: 11px;
    line-height: 10px;
}


.tipo{
	display:inline-block;
	width:15px;
	font-size:14px;
}
.tipo{
	font-size:16px;
	font-weight:bolder;
	text-align:center;
	cursor:pointer;
}		


.fecha{
	display:inline-block;
	width:100px;
	font-size:14px;
	font-weight:bold;
    text-align: center;
}		

.escala{
	display:inline-block;
	width:60px;
	font-size:10px;
}	
.fechaprev{
	display:inline-block;
	width:55px;
	font-size:10px;
}	
.estado{
	display:inline-block;
	width:45px;
	font-size:10px;
	text-align:center;
}	

.formula{
	display:inline-block;
	width:11px;
	font-size:10px;
	text-align:center;
}

.versiones{
	display:inline-block;
	width:45px;
	font-size:10px;
	
}	
				
.version{
	display:inline-block;
	width:20px;
	height:20px;
	font-size:10px;
	background-color:lightblue;
	border:1px solid;
	border-color:red red blue blue;
	overflow:hidden;
}

.aprobada{
	background-color:green;
}
.rechazada{
	background-color:red;
}
.enevaluacion{
	background-color:blue;
}
.apresentar{
	background-color:grey;
}

#recuadro{
	position:fixed;
	width:180px;
	top:160px;
	left:0px;
	height:150px;
	background-color:#fff;
	border:1px solid lightblue;
}

.estado.vencido{
	color:red;
	background-color: pink;
    border-color: #ffc0cb #f00 #f00 #ffc0cb;
}

.estado.ocurrido{
    background-color: lightgreen;
    border-color: #cdf7cd #008000 #008000 #cdf7cd;
}


.auxopcionar{
    position:relative;
    width:0;
    height:0;
    display:none;
    z-index: 100;
}

.auxopcionar .contenido{
    position:absolute;
    left:-200px;
    top:25px;
    width:196px;
    min-height:100px;
    height:auto;
    
    overflow:hidden;
    background-color:lightblue;
    color:#eefbff;
    border:2px solid #000;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}
.auxopcionar .contenido >a{
    display:block;
}		

form .fecha{
	position:relative;
	display:inline-block;
	background:pink;
	font-weight:normal;
	font-size:10px;
	border:1px solid red;
	height:10px;
	vertical-align: top;
	white-space: nowrap;
	cursor:pointer;
}

form .fecha[tipo="prevista"]{
	background-color:orange;
}
form .fecha[tipo="efectiva"]{
	background-color:blue;
	border:1px solid #000;
}

form .fecha[tipo="efectiva"]:hover, form .fecha[tipo="prevista"]:hover{
	background-color:red;
}

form .fecha[superada="1"]{
	opacity:0.5;
}

form .fecha div{
	top:-12px;
	background-color:#ddd;
	border:1px solid #444;
	position:absolute;
	width:47px;	
}
form .fecha div.desde{
	left:-50px;	
}
form .fecha div.hasta{
	right:-50px;	
}

form .fecha div.objetivo{
	top:-2px;
	background-color:blue;
	border:1px solid #fff;
	position:absolute;
	width:2px;
	height:2px;		
	box-shadow:1px 1px #000;
	text-shadow: 1px 1px #000;	
	color:#fff;
				
}
form .fecha[tipo="efectiva"] div.objetivo{
	background-color:blue;
}
form .fecha[tipo="prevista"] div.objetivo{
	background-color:orange;
}	


form#general > div{
    display:inline-block;
}
form#general > div#opprevision{
    display:none;
    text-align:center;
}	
form#general > div#opformula, form#general > div#opmanual{
    display:none;
    text-align:center;
}
form#general > div#opformula label, form#general > div#opmanual label{
    text-align:center;
}
form#general input#nuevafecha{
    font-size:16px;
    display:inline-block;
}
form#general div#opnuevafecha{
    text-align:center;
    padding:0px 15px;
}
form#general div#opnuevafecha label{
    text-align:center;
}

form .calendario{
	height: 100%;
	width:100%;
	background-color: rgba(255,255,255,0.8);	
	position: absolute;	
	top: 30px;
	z-index: -1;
}
form .calendario .mes{
	display:inline-block;
	border:1px solid #000;
	border-right:none;
	border-left-style: dotted;
	vertical-align:bottom;	
	background-color:rgba(255,255,255,0.8);
}
form .calendario .mes .alinea{
	height:100%;
	display:inline-block;
	width:0px;
	vertical-align:bottom;
	white-space: auto;
}
form .calendario .mes .tx{
	display:inline-block;
	white-space: normal;
}




#formcent #etiqueta_validodesde{
    display:none;
}
#formcent #cfecha_validodesde_a{
    display:none;
}
#formcent #cfecha_validodesde_m{
    display:none;
}
#formcent #cfecha_validodesde_d{
    display:none;
}



form#nuevafecha a.confirmar{
    background-color:rgb(150,255,100);
}
form#nuevafecha #historial{
	position:relative;
	width:calc(100% - 130px);
	margin-left:50px;
	white-space: nowrap;
	display:none;
	top: -20px;
}

form#nuevafecha .barrafecha{
	position:relative;
	width: calc(100% - 130px);
	margin-left: 50px;
	height:60px;
	display:none;
	z-index: 20;
}



form#nuevafecha .inputfecha{
	position:absolute;
	top:0px;
	width:100px;
	border-radius:10px;
	border-bottom-right-radius: 0;
	border:1px solid  #000;
	background-color:#fff;
}

form#nuevafecha .inputfecha input{
	margin: 5px;
	font-size:10px;
	margin-top:0px;
}

form#nuevafecha .inputfecha label{
	margin:5px;
	height:30px;
	width:90px;
	margin-bottom:0px;
}




@media print {
	#encabezado{
	visibility: hidden;
	position:absolute;
	}
	body{
		background-image:none;
	}
	#contenidoextenso{
		overflow:hidden;
		width:717px;
	}		
	#page{
		width:717px;
	}			
	
	#pageborde{
		margin:0px;
		width:734px;
	} 
}