		#encabezado{
			top:0px;
			height:36px;
		}
	
		body{
			font-size: 10px;
		}
		
		a{
		font-size: 10px;
		}
		
		a.porjs{
		cursor:pointer;
		}
		
		span {
		    overflow:hidden;
		}
		
	
		div{
			vertical-align:top;
		}		
		
		select{
		width:80px;
		border-width: 1px;
		}
		
		select:hover{
			background-color: #DCEFF3;
			color:black;
		}
			
		table{
		margin:5px;
		}
		
		form{
		margin:0;
		width:auto;
		}

		input{
			font-family: 'Ropa Sans-local', 'Ropa Sans', sans-serif;	
		}
		input[disabled]{
			border:1px #ccc solid;
			background:#ddd;
		}
		
		
		.carga {
		background-color:#A9F5BC;
		}
		
		.boton{
		width:80px;		
		}
		
				
		.boton2{
		width:25px;		
		}
		
		.boton3{
		width:150px;
		}

		p{
		margin:0 0px;
		}
		
		h1{
		margin:0 10px;
		}
		
		h2{
		margin:0 10px;
		}		
		input{
		width:100px;
		background-color: white;
		}	
		
		input[type='checkbox']{
			width: 10px;
			margin-left: 0px;
			margin-right: 2px;
		}	
	
		select{
		float:left;
		background-color: white;
		width:65px;
		height:15px;
		border:none;
		font-size: 9px;
		}
		
		option{
		}
				
		.button {
		    border: 1px solid #08AFD9;
		    background: #08AFD9;
		    width:54px;
		    font-size:9px;
		    color:black;
		    white-space: normal;
		}			
		
		.salva{
		width:90px;
		margin-bottom:5px;
		float:left;
		}
	
		.reporte{
		width:200px;
		}
	
		.marco{
		border-bottom: 1px solid gray;
		float: none;
		width: 100%;		
		}

		
		.fila{
			height:20px;
			line-height:8px;
			position: relative;
		}
		
		.fila.hoy{
			background-color:lightblue;
		}
						
		.filaalerta{
			background-color:#FF4000;
			color:#770E0E;
			line-height:8px;
		}
		
		option.filaalerta{
			width:80px;
			height:15px;
			line-height:8px;
		}

		.ayuda > div{
			height:10px;
			line-height:8px;
		}		
		
		.filaalertamedia{
			background-color:#FFB700;
			color:#D36600;
			line-height:8px;
		}		

		option.filaalertamedia{
		width:80px;
		height:15px;
		line-height:8px;
		}
		
		.filaalertaok{
			background-color:#83D920;
			color:#415212;
			line-height:8px;
		}	

		option.filaalertaok{
		width:80px;
		height:15px;
		line-height:8px;
		}

		.nombre.propia{
			background-color:#E1E7FB;
		}
		.nombre.ajena{
			background-color:#EAFBCE;
		}		

		.propia{
			border:none;
			border:1px solid #839EF8;
			border-top:0px;
		}

		.ajena{
			border-top:0px;
			border:1px solid #C1F270;
		}
							
		.filacabeza{
			height:60px;
			width:24px;
			font-size:9px;
			display:inline-block;
			 border-top: 2px solid #444;
		}	
	
		form > 	.filacabeza{
			 border-top: 0px solid #fff;
		}	
				
		.filacabezaref{
			height:60px;
			width:134px;
			font-size:9px;
			display:inline-block;
			text-align:right;
		}		
		.filasepara{
			height:10px;
			font-size:8.5px;
			background-color: #444;
			color:#ffffff;
		}
		.filasubsepara{
			height:10px;
			font-size:8.5px;
			background-color: #ffffff;
			color:#444;
			margin-top:5px;
		}		

		.etiqueta{
		    display: inline-block;
		    width: 55px;
		    text-align:right;
		    vertical-align: middle;
		}	
	

		.etiquetaunidades{
		    color: #08AFD9;
		    display: block;
		    left: 65px;
		    position: absolute;
		    text-align: center;
		    top: 0;
		    width: 35px;
		    
		}	
		
		.cubreselect{
		    width: 48px;
		    overflow:hidden;
		}	
		


		.grupoa{
			width:100%;
			background-color:#000000;
			color:#ffffff;
			margin-top:10px;
			font-size:14px;
			height:16px;
		}
		
		.titulo{
			width:100%;
			z-index:4;
			overflow:hidden;
		}		
						
		#alertas{
			z-index:10;
			left:400px;
			top:5px;
			width:200px;
			position:absolute;
		}			

	
		#referencias{
			float:left;
		}

		
		#pageborde{
			width:100%;
		}
		
		#page{
			width:100%;
			font-size:10px;
			background-image:none;
		}		

		#columnacalendario{
			margin-left:35px;
			z-index:2;
		}
		
		#pageborde {
			margin-top:50px;
		}

		
		@media print {
			body{
			background-image:none;
			border:none;
			}		
			#encabezado{
			visibility: hidden;			
			}
			#columna_r{
			visibility: hidden;			
			}
			#pie{
			visibility: hidden;			
			}			
		}	
		
		#agrega{
			position:absolute;
			top:20px;
			left:200px;	
			width:130px;
			font-size:13px;
		}
		#volver{
			position:absolute;
			top:0;
			left:200px;	
			width:130px;
			font-size:13px;
		}
		
		#tabla{
			position:absolute;
			top:0;
			left:400px;	
			width:130px;
			font-size:13px;
		}		
		
		#grafico{
			position:absolute;
			top:20px;
			left:400px;	
			width:130px;
			font-size:13px;
		}			
		#web{
			position:absolute;
			top:0px;
			left:600px;	
			width:130px;
			font-size:13px;
		}					
		.fila.nombre.ajena {
			height:20px;
			cursor:pointer;
			font-size:12px;
			line-height:10px;
		}
		div.fila.nombre.ajena:hover {
			background-color:#fff;
		}	
		
		
		#ventanahistorial > div#anos{
			width:10px;
		}
		#ventanahistorial > div#meses{
			width:10px;
		}

		#ventanahistorial > div#cajacanvas{
			width:auto;
			position:relative;
			
		}
		
